<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/menu img.png" height="60" title="Frontend" alt=""></td>
        <td><a href="https://ryanrob327.github.io/csp/week5/2022/09/25/JavaScript-Table.html">JavaScript and html Table</a></td>
        <td><a href="https://ryanrob327.github.io/csp/week5/2022/09/24/JavaScript.html">JavaScript Basics</a></td>
        <td><a href="https://ryanrob327.github.io/csp/techtalk/rapidapi">API</a></td>
        <td><a href="https://ryanrob327.github.io/csp/frontend/binary">Binary</a></td>
    </tr>
</table>