---
title: Tools Verification
layout: post
description: This post verifies that I have all of the default tools working like docker make server
categories: [week13]
---

# Make server
Command:

![]({{ site.baseurl }}/images/Tools Verify Command.png)

Website:

![]({{ site.baseurl }}/images/Tools Verify Website.png)